.form {
  margin: 1rem 0;
  height: 10.5rem;
  overflow: auto;
}
.control {
  margin-bottom: 0.5rem;
}
.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}
.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}
.control input:focus {
  border: 1px solid #e68d11;
  outline: none;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.actions button {
  font: inherit;
  color: #f08c00;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}
.actions button:hover,
.actions button:active {
  background-color: #f8f0a7;
}
.actions .submit {
  border: 1px solid #f08c00;
  background-color: #f08c00;
  color: white;
}
.actions .submit:hover,
.actions .submit:active {
  background-color: #da7f01;
}
.actions .submit:disabled,
.actions .submit:disabled:hover,
.actions .submit:disabled:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #292929;
  cursor: not-allowed;
}
.error {
  color: #aa0b20;
}
.invalid label {
  color: #b10a21;
}
.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
